
.hyper:hover{
  color: #72CC7E;
}

.cv-link:visited{
  color:#72CC7E;
}

.active{
  background-color:#50878F ;
  font-size: 2rem;
  /* padding-left: .5rem;
  padding-right: .5rem; */
  font-family: 'Noto Sans Symbols', sans-serif;
  color: rgb(255, 255, 255);
  /* outline-style: none; */
  font-weight: 300;
}


body {
  background-image: url("/images/paradox.jpeg");
  margin: .5;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.25;
}

#cv-body{
  background-color: white;
  background-image: none;
  }
  


[class*="header"] {
  font-size: 4rem;align-content: left;

  color: #7586CC;
  font-family: 'Cormorant Garamond', serif;
  background-color: #e5eafd;
  color: #7586cc;
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.header-for-cv-section {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  border-style: none;
  padding-bottom: 0;
}

.downloadlink{
  color: #7586CC;
}

a{
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color:#72cc7e;
}

[class*="home-button"]{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  color: white;
  font-family: "Noto Sans Light";
}

.home-button:visited, .home-button:hover{
  color: white;
  font-family: "Noto Sans Light";
}

.home:hover{
  color: white;
}


.navbar {
  background-color: #000;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  margin: 0;
  padding: 0;
}

[class*="main"] {
  border-radius: 0;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Noto Sans Light', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.main-for-cv {
  margin-top: 3.7rem;
}

#cv-body{
background-color: white;
}

[class*="flex-container"] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #72B9CC;
  font-size: 2rem;
  border-style: none;
  outline-style: none;
  margin: 0;
}

#current-projects, #recent-projects{
  background-color: #72B9CCF1;
}


.flex-container-smalltext {
  align-items: center;
  color: white;
  gap: 4rem;
  line-height: 1.85rem;
  font-size: 1.5rem;
  padding: .5rem;
  margin-top: 1rem;
  background-color: #508F58;
  font-family: 'Noto Sans Medium', sans-serif;
  font-style: italic;
}


.flex-container-vert-cv {
  flex-direction: column;
  background-color: white;
  color: black;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5rem;
  font-family: 'Noto Sans Light', sans-serif;

}

.flex-container-vert-projects {
  flex-direction: column;
  background-color: white;
  margin: .5rem;
  block-size: fit-content;

}

.flex-container-vert-projects:hover {
  box-shadow: 0 0 2.5rem white;
}

.flex-container-home {
  background-color: rgba(255, 255, 255, .85);
  color: black;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: space-between;
  border-style: none;
  text-align: center;
  line-height: inherit;
  padding: .5rem;
  font-family: "Noto Sans Symbols", sans-serif;
}

.flex-container-cv-contents{
  background-color: white;
}

.menu-item,
button {
  background-color: #72B9CC;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 2rem;
  border-style: none;
  font-family: 'Noto Sans Medium', sans-serif;
  color: white;
  outline: none;
  outline-style: none;
  align-content: center;
}

.button-small {
  background-color: #72B9CC;
  font-size: 1.15rem;
  color: black;
  width: 30%;
  align-self: center;
  transition-duration: 1s;
  border-radius: 50%;
  padding: .4rem;

}

.button-small:hover {
  background-color: #72cc7e;
  outline: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #72B9CC;
  color: white;
  font-family: 'Noto Sans Symbols', sans-serif;
  font-size: 2rem;
  border-radius: .5rem;
  border-style: none;
  outline: none;
  outline-style: none;
  font-weight: 300;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-family: 'Noto Sans Symbols', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 300;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #50878F;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #50878F;
  border-radius: 0;
}

#nightingale {
  position: absolute;
  bottom: 0;
  right: 0;
}

#nightingale:hover {
  transform: scale(10);
  position: absolute;
  right: 50px;
  bottom: 15px;
}

#meipic:hover {
  transition-duration: 0.5s;
  box-shadow: 0 0 1rem black;
}

.project {
  display: block;
  color: black;
  border-style: none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: .5rem;
  padding: .5rem;
}

#kmm-proof {
  height: 15rem;
}

#meipic {
  width: 20%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: .3rem;
  margin-bottom: .2rem;
  opacity: 1;
}

#question {
  margin-top: 0;
  margin-bottom: .5;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 1);
}

#about-me {
  background-color: white;
}

b {
  font-family: "Noto Sans Symbols", sans-serif;
  font-weight: 500;
}

li {
  margin-top: .5rem;
}

#cv-pdf{
  background-color: inherit;
}

#code-screenshot, #hermit-crab {
  height: auto;
  max-width: 100%;
  padding: 1rem;
}

#DragLogic-screenshot{
  height: auto;
  max-width: 100%;
}

[class*="cv-container"] {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  text-align: left;
  /* text-align: left; */
}

[class*="cv-left"]{
grid-column-start: 1;
grid-column-end: 2;
grid-auto-rows: minmax(min-content, max-content);

}


.cv-left-ed{

  grid-row-start: 1;
  grid-row-end: 2;
}

.cv-left-math{

  grid-row-start: 1;
  grid-row-end:2;
}

.cv-left-ling{

  grid-row-start: 2;
  grid-row-end: 3;
}

.cv-left-logic{

  grid-row-start: 3;
  grid-row-end: 4;
}

.cv-left-work1{

  grid-row-start: 1;
  grid-row-end: 2;

}

.cv-left-work2{
  grid-row-start: 2;
  grid-row-end: 3;

}

.cv-left-work3{

  grid-row-start: 3;
  grid-row-end: 4;
}

.cv-left-work4{
  grid-row-start: 4;
  grid-row-end: 5;
}

.cv-left-work5{
  grid-row-start: 5;
  grid-row-end: 6;
}

.cv-left-work6{
  grid-row-start: 6;
  grid-row-end: 7;
}

.cv-left-conferences4{
  grid-row-start: 1;
  grid-row-end: 2;
}

.cv-left-conferences3{
  grid-row-start: 2;
  grid-row-end: 3;
}

.cv-left-conferences2{
  grid-row-start: 3;
  grid-row-end: 4;
}

.cv-left-conferences1{
  grid-row-start: 4;
  grid-row-end: 5;
}


.cv-left-ec5{
  grid-row-start: 1;
  grid-row-end: 2;
}

.cv-left-ec4{
  grid-row-start: 2;
  grid-row-end: 3;
}

.cv-left-ec3{
  grid-row-start: 3;
  grid-row-end: 4;
}

.cv-left-ec2{
  grid-row-start: 4;
  grid-row-end: 5;
}

.cv-left-ec1{
  grid-row-start: 5;
  grid-row-end: 6;
}

.cv-left-proficient{
  grid-row-start: 1;
  grid-row-end: 2;
}

.cv-left-familiar{
  grid-row-start: 2;
  grid-row-end: 3;
}

[class*=contents]{
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 1.15;
  text-align: left;
}

.contents-ed{
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-math{
  grid-row-start: 1;
  grid-row-end: 2;

}

.contents-ling{

  grid-row-start: 2;
  grid-row-end: 3;
}

.contents-work1{
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-work2{
  grid-row-start: 2;
  grid-row-end: 3;
}

.contents-work3{
  grid-row-start: 3;
  grid-row-end: 4;
}

.contents-work4{
  grid-row-start: 4;
  grid-row-end: 5;
}

.contents-work5{
  grid-row-start: 5;
  grid-row-end: 6;
}
.contents-work6{
  grid-row-start: 6;
  grid-row-end: 7;
}

.contents-conferences4{
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-conferences3{
  grid-row-start: 2;
  grid-row-end: 3;
}

.contents-conferences2{
  grid-row-start: 3;
  grid-row-end: 4;
}

.contents-conferences1{
  grid-row-start: 4;
  grid-row-end: 5;
}

.contents-ec5{
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-ec4{
  grid-row-start: 2;
  grid-row-end: 3;
}

.contents-ec3{
  grid-row-start: 3;
  grid-row-end: 4;
}

.contents-ec2{
  grid-row-start: 4;
  grid-row-end: 5;
}

.contents-ec1{
  grid-row-start: 5;
  grid-row-end: 6;
}

.contents-proficient{
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-familiar{
  grid-row-start: 2;
  grid-row-end: 3;
}