[class*="active"]{
  background-color: orange;
  font-size: 2rem;
  font-family: 'Noto Sans Symbols', sans-serif;
  color: white;
}

.active-button{
  border-radius: .5rem;
}

body{
  background-color: aqua;
  margin: 0;
  padding: 0;
}


[class*="header"]{
  font-size: 4rem;
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
  color: green;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-for-cv-section {
  font-size: 2.5rem;
  border:0;
  border-radius: 0;
}

a:visited {
  color: white;
}

a:hover {
  color: yellowgreen
}

a {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

[class*="main"]{
  border-radius: .5rem;
  padding: 0.5rem;
  background-color: aqua;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 1rem;

}

.main-for-cv{
  margin-top: 5rem;
}

[class*="flex-container"]{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: magenta;
  font-size: 2rem;
  font-family: 'Noto Sans Symbols', sans-serif;
  border: .2rem;
  border-style: solid;
  border-radius: .5rem;
}

.flex-container-smalltext {
  align-items: center;
  gap: 4rem;
  line-height: 1.85rem;
  font-size: 1.5rem;
  padding: .5rem;
  margin-top: 1rem;
}

.flex-container-vert-cv{
  flex-direction: column;
  background-color: deepskyblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 5rem;
}

.flex-container-vert-projects{
  flex-direction: column;
  background-color: white;
  margin: .5rem;
  block-size: fit-content;

}

.flex-container-vert-projects:hover{
  box-shadow: 0 0 2.5rem white;
}

.flex-container-home{
  background-color: white;
  flex-direction: column;
  border-radius: 0;
  justify-content: space-between;
  border: 0;
  text-align: center;
}

.menu-item, [class*="button"]{
  background-color: blue;
  font-size: 2rem;
  border-radius: .5rem;
  font-family: 'Noto Sans Symbols', sans-serif;
  color: white;
}

.button:hover {
  background-color: green;
}

.button-small{
  background-color: gold;
  font-size: 1rem;
  color: black;
}
/* Dropdown Button */
.dropbtn {
  background-color: blue;
  color: white;
  font-family: 'Noto Sans Symbols', sans-serif;
  font-size: 2rem;
  border-radius: .5rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-family: 'Noto Sans Symbols', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: yellowgreen;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: green;
}

#nightingale {
  position: absolute;
  bottom: 0;
  right: 0;
}

#nightingale:hover {
  transform: scale(10);
  position: absolute;
  right: 50px;
  bottom: 15px;
}

#meipic:hover{
  box-shadow: 0 0 2.5rem magenta;
}

.project{
  display: block; 
  color:black;
  border-style:none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: .5rem;
  padding: .5rem;
}

#kmm-proof{
  height: 15rem;
}

@font-face {
  font-family: Charis SIL;
  src: url();
}

#meipic{
  width: 20%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
